body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    width: 100%;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}



.sidebar-navigation {
    width: 5%;
    background-color: #64203F;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Adjusted to stretch the items to fill the width */
}

.sidebar-navigation ul {
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

}

.sidebar-navigation ul li {
    padding: 20px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
    position: relative;
    text-align: center;
}

.sidebar-navigation ul li i {
    display: block;
    margin: -10px auto;
    padding: 10px;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #64203F;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    margin-left: 60%;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: white;
    z-index: 1;
    transition: all ease 0.3s;
}

.sidebar-navigation ul li .tooltip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}

.sidebar-navigation ul li:hover {
    background-color: #2b0730;
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active i {
    color: white;
}


.sidebar-navigation button{
    background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin: 40px auto 20px ;
    padding: 0;
}

.slider-container{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    --c: #2B0730; /* active color */
    --_c: color-mix(in srgb, var(--c), #000 var(--p,0%));
  --g: 8px; /* the gap */
  --l: 4px; /* line thickness*/
  --s: 30px; /* thumb size*/
  width: 100%;
  height: var(--s); /* needed for Firefox*/
  -webkit-appearance :none;
  -moz-appearance :none;
  appearance :none;
  background: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  display: block;

}
.slider:focus-visible,
.slider:hover {
    --p: 25%;
}

.slider:active,
.slider:focus-visible {
    --_b: var(--s);
}

.slider::-webkit-slider-thumb {
    height: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b,var(--l)) inset var(--_c);
  transition: .2s;
  border-image: linear-gradient(90deg,var(--c) 50%,white 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
  -webkit-appearance: none;
  appearance: none;
  z-index:1;
}

.slider::-moz-range-thumb {
    height: var(--s);
  width: var(--s);
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b,var(--l)) inset var(--_c);
  transition: .2s;
  border-image: linear-gradient(90deg,var(--c) 50%,white 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
  -moz-appearance: none;
  appearance: none;
  z-index:1;
}

.sliderticks {
  display: flex;
  justify-content: space-around;
  padding: 0 0px;
  width:100%;
  margin: 10px auto 0;
  z-index:1;


}

.sliderticks span {
  display: flex;
  justify-content: center;
  width: 2px;
  height: 10px;
  background: white;
  color: white;
  line-height: 40px;

}
@supports not (color: color-mix(in srgb, red, red)) {
    .slider {
        --_c: var(--c);
    }
}


.next-button {
    display: block;
    margin:30px auto 0px;
    padding: 10px 20px;
    background-color: #45336E;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 35px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 20%;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
}
.next-button:hover {
    background-color: #2b0731;
    text-decoration: none;
    cursor: pointer;
    color: white;
}


.navigation-bar {
    width: 90%;
    margin: 20px auto ;
    display: none;
    align-items: center;
    border-radius: 15px;
    background-color: #45336E;
    border: 2px solid white;
}

.navigation-bar li {
    list-style: none;

}

.navigation-bar a {
    text-decoration: none;
    color: white;
}

.navigation-bar a:hover {
    color: #2B0730;
}

.toggle_btn {
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding-left: 10px
}

.dropdown_menu {
    position: absolute;
    top: 70px;
    height: 0px;
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
    width: 90%;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 150px;
}

.dropdown_menu li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.dropdown_menu button{
    background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


@media (max-width: 768px) {

    .navigation-bar {
        display: flex;
    }
    .toggle_btn{
        display:block;
    }
    .dropdown_menu {
        display: flex;
        flex-direction: column;
        align items: center;
        justify-content: center;
    }

    .sidebar-navigation {
        display: none;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }

    .slider-container {
        width: 80%;
    }

    .next-button {
        width:50%;
    }

    .sliderticks span {
      font-size: 13px;
    }

}