body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; /* Ensure the body is relatively positioned */
}

.container{
    width: 100%;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.sidebar-navigation {
    width: 5%;
    background-color: #64203F;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Adjusted to stretch the items to fill the width */
}

.sidebar-navigation ul {
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

}

.sidebar-navigation ul li {
    padding: 20px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
    position: relative;
    text-align: center;
}

.sidebar-navigation ul li i {
    display: block;
    margin: -10px auto;
    padding: 10px;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #64203F;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    margin-left: 60%;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: white;
    z-index: 1;
    transition: all ease 0.3s;
}

.sidebar-navigation ul li .tooltip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}

.sidebar-navigation ul li:hover {
    background-color: #2b0730;
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active i {
    color: white;
}


.sidebar-navigation button{
    background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin: 40px auto 20px ;
    padding: 0;
}

.text p {
    color: white;
    width: 50%;
    margin: 0 auto 20px;
    display: block;
    text-align: center;
    font-style: italic;
}

h3 {
    font-family: "Barlow";
    font-weight: bold;
    font-size: 20px; /* Adjust the font size for the name */
    margin: 5px 0; /* Add spacing between the image and the name */
}

/* Center the ontology container */
.ontology-container {
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}



.ontology-item {
    position: relative; /* Add position relative to adjust the position of the buttons */
    text-align: center;
    color: white;
    width: 25%;
}

.ontology-item img {
    width: 90%;
    border-radius: 10px;
    border: 4px solid #2B0730;
}

.ontology-item p {
    font-size: 11px;
    color: white;
    display: block;
    text-align: center;
    font-style: italic;
    margin: 10px; /* Add spacing between the name and the description */
}

/* Navigation buttons */


.ontology-container button {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    cursor: pointer;
    background-color: transparent;
}
#previousButton {
    border-right: 75px solid #20517A; /* Adjust the color and size as needed */
    border-left: 0px solid transparent;
}

#nextButton {
    border-left: 75px solid #20517A; /* Adjust the color and size as needed */
    border-right: 0px solid transparent;
}


.next-button {
    display: block;
    margin:30px auto 0px;
    padding: 10px 20px;
    background-color: #45336E;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 35px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 20%;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
}

.next-button:hover {
    background-color: #2b0731;
    text-decoration: none;
    cursor: pointer;
    color: white;
}


.navigation-bar {
    width: 90%;
    margin: 20px auto ;
    display: none;
    align-items: center;
    border-radius: 15px;
    background-color: #45336E;
    border: 2px solid white;
}

.navigation-bar li {
    list-style: none;

}

.navigation-bar a {
    text-decoration: none;
    color: white;
}

.navigation-bar a:hover {
    color: #2B0730;
}

.toggle_btn {
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding-left: 10px
}

.dropdown_menu {
    position: absolute;
    top: 70px;
    height: 0px;
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
    width: 90%;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 150px;
}
.dropdown_menu li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.dropdown_menu button{
    background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


@media (max-width: 768px) {
    .navigation-bar {
        display: flex;
    }
    .toggle_btn{
        display:block;
    }
    .dropdown_menu {
        display: flex;
        flex-direction: column;
        align items: center;
        justify-content: center;
    }

    .sidebar-navigation {
        display: none;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }

    .text p {
        width: 90%;
        margin: 20px auto ;
        font-size: 12px;
    }

    .ontology-container button{
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    #previousButton{
        border-right: 30px solid #20517A;
    }
    #nextButton {
        border-left: 30px solid #20517A;
    }

    .ontology-item {
        width: 50%;
    }

    .next-button {
        width: 50%;  /* Example adjustment for width */
    }

}


.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-100px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-100px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-100px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-100px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(100px) scaleX(2.5) scaleY(0.2);
            transform: translateX(100px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 20% 50%;
            transform-origin: 20% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(100px) scaleX(2.5) scaleY(0.2);
            transform: translateX(100px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 20% 50%;
            transform-origin: 20% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}