/VOCAB_GAME/FLASK/website/olddatabase.db
/VOCAB_GAME/FLASK/website/database.db
/VOCAB_GAME/FLASK/website/database.sql
/VOCAB_GAME/FLASK/website/Heroku-database.sql
/openshift_cluster_name eu-de-4.txt
